<div class="container-fluid admin">
  <div class="navbar">
      <div class="logo">
          <img src="/frontend-images/logo.png" alt="" width="125px">
      </div>
      <nav>
          <ul>
              <li><a href="/admin/dashboard">Dashboard</a></li>
              <li><a href="/admin/admin_product">Products</a></li>
              <li><a href="/admin/Categories">Categories</a></li>
              <li><a href="/admin/admin_page">Customers</a></li>
              <li><a href="/admin/view-orders">Ordes</a></li>
              <li><a href="/admin/coupen">Coupon</a></li>
              <li><a href="/admin/logout">Logout</a></li>

          </ul>
      </nav>
  </div>
</div>