<%-include('header')-%>
<%-include('userNAVBar')-%>

<div class="container">
    <p class="your-address">ADD ADDRESS</p>
    <div class="Right-div">
       
        <br>
        <div class="form-div">
            <form action="/add-address" method="post">
                <input type="text" name="full_name"   placeholder="Full name" required>
                <input type="text" name="house"   placeholder="House" required>
                <input type="number" name="phone"    placeholder="Phone Number" required>
                <input type="text" name="country"    placeholder="Country" required>
                <input type="text" name="state"    placeholder="State" required>
                <input type="text" name="district"   placeholder="District" required>
                <input type="number" name="pincode"   placeholder="Pincode" required>
                <input type="text" name="userid" value="<%=user._id%>" hidden>
                <br>
                <input type="submit" value="submit" class="btn">
            </form>
        </div>
    </div>
</div>
<%-include('footer')-%>