<%-include('header')-%>
<%-include('userNAVBar')-%>
<br><br><br>
<div class="container">
  <div class="small-container">
    <form action="/change-password/<%=user._id%>" method="post">
      <input type="password" name="old_password" placeholder="Enter your old password">
      <input type="password" name="new_password" placeholder="Enter you new password">
      <input type="password" name="confirm_password" placeholder="Re enter you new Password">
      <button type="submit" class=" btn">Save</button>
    </form>
  </div>
</div>
<%-include('footer')-%>