<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon cdn -->
    <link rel="apple-touch-icon" sizes="180x180" href="frontend-images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="frontend-images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="frontend-images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="frontend-images/favicon_io/site.webmanifest">
    <!-- css link -->
    <link rel="stylesheet" href="../../stylesheets/frontend.css">
    <link rel="stylesheet" href="../../stylesheets/query.css">
    <!-- font style cdn -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- ajax cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <!-- razorpay cdn -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <title>RedStore</title>
</head>
<body>