<%-include('header')-%>
<%-include('userNAVBar')-%>
<!-- <div class="container">
  <div class="navbar">
      <div class="logo">
          <img src="frontend-images/logo.png" alt="" width="125px">
      </div>
      <nav>
          <ul>
              <li><a href="/user_dashboard">Home</a></li>
              <li><a href="">Products</a></li>
              <li><a href="">Account</a></li>

          </ul>
      </nav>
      <img src="frontend-images/cart.png" alt="" width="30px" height="30px">
  </div> 
</div> -->
<div class="container">
    <div class="small-container">
        <h3>Your Order Placed Successfully</h3>
        <a href="/orders" class="btn">View Orders</a>
    </div>
</div>

<%-include('footer')-%>