<div class="container">
  <div class="navbar">
      <div class="logo">
          <img src="frontend-images/logo.png" alt="" width="125px">
      </div>
      <nav>
          <ul id="MenuItems">
              <li><a href="">Home</a></li>
              <li><a href="">Products</a></li>
              <li><a href="/orders">orders</a></li>
              <li><a href="/logout">Account</a></li>
              <li><a href="/user-profile"><img src="frontend-images/user.png" class="account-image"></a></li>
          </ul>
      </nav>
      <a href="/cart">
          <img src="frontend-images/shopping-cart.png"  alt="" width="30px" height="30px">
          <button class="badge"><%=cartCount%></button>
      </a>
      <img src="frontend-images/menu.png"  class="menu-icon" onclick="menutoggle()">
  </div>
</div>